.u-section-1 {background-image: none; min-height: 344px}
.u-section-1 .u-text-1 {font-size: 3.75rem; font-weight: 200; text-transform: uppercase; margin: 71px calc(((100% - 1140px) / 2) + 391px) 0 calc(((100% - 1140px) / 2))}
.u-section-1 .u-text-2 {letter-spacing: 0; text-transform: none; margin: 20px calc(((100% - 1140px) / 2)) 60px calc(((100% - 1140px) / 2) + 645px)} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-right: calc(((100% - 940px) / 2) + 191px); margin-left: calc(((100% - 940px) / 2))}
.u-section-1 .u-text-2 {margin-right: calc(((100% - 940px) / 2)); margin-left: calc(((100% - 940px) / 2) + 445px)} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-right: calc(((100% - 720px) / 2)); margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-text-2 {margin-right: calc(((100% - 720px) / 2)); margin-left: calc(((100% - 720px) / 2) + 225px)} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {width: auto; margin-right: 0; margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-text-2 {width: auto; margin-right: 0; margin-left: calc(((100% - 540px) / 2))} }

@media (max-width: 575px){ .u-section-1 {min-height: 341px}
.u-section-1 .u-text-1 {font-size: 3rem; margin-top: 45px; margin-left: calc(((100% - 340px) / 2))}
.u-section-1 .u-text-2 {margin-bottom: 45px; margin-left: calc(((100% - 340px) / 2))} }.u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 751px}
.u-section-2 .u-shape-1 {width: 462px; background-image: none; left: auto; right: 108px; margin-bottom: 0}
.u-section-2 .u-text-1 {font-size: 3.75rem; letter-spacing: 2px; text-transform: uppercase; font-weight: 200; margin: 91px 713px 0 0}
.u-section-2 .u-text-2 {margin: 22px 584px 0 2px}
.u-section-2 .u-layout-wrap-1 {margin: 55px auto 58px 0}
.u-section-2 .u-layout-cell-1 {min-height: 405px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-link-1 {margin-top: 0; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 0}
.u-section-2 .u-link-2 {text-transform: uppercase; letter-spacing: 2px; margin: 9px auto 0 0}
.u-section-2 .u-link-3 {text-transform: uppercase; letter-spacing: 2px; margin: 9px auto 0 0}
.u-section-2 .u-link-4 {text-transform: uppercase; letter-spacing: 2px; margin: 9px auto 0 0}
.u-section-2 .u-image-1 {min-height: 405px; background-image: url("images/unnamed.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-2 {min-height: 405px; background-image: url("images/4448695.jpg")}
.u-section-2 .u-container-layout-3 {padding: 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 618px}
.u-section-2 .u-shape-1 {width: 324px; margin-bottom: initial}
.u-section-2 .u-text-1 {margin-right: 513px}
.u-section-2 .u-text-2 {margin-right: 516px; margin-left: 0}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 334px}
.u-section-2 .u-image-1 {min-height: 334px}
.u-section-2 .u-image-2 {min-height: 334px; background-position: 50% 50%} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 557px}
.u-section-2 .u-shape-1 {width: 292px; left: 455px; right: auto; margin-bottom: initial}
.u-section-2 .u-text-1 {width: auto; margin-right: 295px; margin-left: -1px}
.u-section-2 .u-text-2 {margin-right: 296px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {min-height: 256px}
.u-section-2 .u-image-2 {min-height: 256px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 478px}
.u-section-2 .u-shape-1 {width: 399px; left: auto; right: 56px; margin-bottom: initial}
.u-section-2 .u-text-1 {margin-right: 58px}
.u-section-2 .u-text-2 {width: auto; margin-right: 70px; margin-left: 46px}
.u-section-2 .u-container-layout-1 {padding-right: 10px; padding-left: 120px}
.u-section-2 .u-image-1 {min-height: 576px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-2 {min-height: 576px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 301px}
.u-section-2 .u-shape-1 {width: 289px; right: 0; margin-bottom: initial}
.u-section-2 .u-text-1 {font-size: 3rem; margin-left: 0; margin-right: 0}
.u-section-2 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-2 .u-container-layout-1 {padding-left: 50px}
.u-section-2 .u-image-1 {min-height: 363px}
.u-section-2 .u-image-2 {min-height: 363px} }.u-section-3 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 498px}
.u-section-3 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-3 .u-layout-cell-1 {min-height: 389px; background-image: none}
.u-section-3 .u-container-layout-1 {padding: 30px 0}
.u-section-3 .u-text-1 {font-weight: 200; text-transform: uppercase; font-size: 3rem; margin: 44px 0 0 -27px}
.u-section-3 .u-text-2 {margin: 20px 0 0 -27px}
.u-section-3 .u-layout-cell-2 {min-height: 454px}
.u-section-3 .u-container-layout-2 {padding: 30px 10px}
.u-section-3 .u-image-1 {width: 106px; height: 91px; margin: 0 auto 0 0}
.u-section-3 .u-text-3 {margin: 19px 0 0}
.u-section-3 .u-layout-cell-3 {min-height: 454px}
.u-section-3 .u-container-layout-3 {padding: 30px 10px}
.u-section-3 .u-image-2 {width: 110px; height: 72px; margin: 0 106px 0 0}
.u-section-3 .u-text-4 {margin: 38px 0 0}
.u-section-3 .u-layout-cell-4 {min-height: 454px}
.u-section-3 .u-container-layout-4 {padding: 30px 10px}
.u-section-3 .u-image-3 {width: 113px; height: 70px; margin: 0 91px 0 0}
.u-section-3 .u-text-5 {margin: 33px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 430px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 321px}
.u-section-3 .u-text-1 {margin-left: 0; font-size: 2.25rem}
.u-section-3 .u-text-2 {margin-left: 0}
.u-section-3 .u-layout-cell-2 {min-height: 374px}
.u-section-3 .u-layout-cell-3 {min-height: 374px}
.u-section-3 .u-image-2 {margin-right: 58px}
.u-section-3 .u-layout-cell-4 {min-height: 374px}
.u-section-3 .u-image-3 {margin-right: 55px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 309px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-container-layout-4 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 409px}
.u-section-3 .u-text-1 {font-size: 3.75rem} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1437px}
.u-section-3 .u-layout-wrap-1 {margin-top: 1px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-1 {font-size: 3rem} }.u-section-4 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 714px}
.u-section-4 .u-shape-1 {width: 462px; background-image: none; left: auto; margin-bottom: 0}
.u-section-4 .u-text-1 {font-size: 3.75rem; text-transform: uppercase; font-weight: 200; margin: 30px 19px 0 492px}
.u-section-4 .u-layout-wrap-1 {width: 1035px; margin: 156px 30px 60px auto}
.u-section-4 .u-image-1 {min-height: 394px; background-image: url("images/unnamed1.jpg"); background-position: 0% 65.31%}
.u-section-4 .u-container-layout-1 {padding: 30px 0 30px 60px}
.u-section-4 .u-layout-cell-2 {min-height: 394px}
.u-section-4 .u-container-layout-2 {padding: 20px 30px 30px}
.u-section-4 .u-text-2 {font-style: normal; line-height: 1.4; font-size: 1rem; margin: 5px 0 -12px 47px} 

@media (max-width: 1199px){ .u-section-4 .u-shape-1 {margin-bottom: initial}
.u-section-4 .u-text-1 {margin-right: 0; margin-left: 311px}
.u-section-4 .u-layout-wrap-1 {width: 940px; margin-right: 0}
.u-section-4 .u-image-1 {min-height: 570px}
.u-section-4 .u-layout-cell-2 {min-height: 570px}
.u-section-4 .u-text-2 {margin-left: 0} }

@media (max-width: 991px){ .u-section-4 .u-text-1 {margin-left: 91px}
.u-section-4 .u-layout-wrap-1 {width: 720px}
.u-section-4 .u-image-1 {min-height: 437px}
.u-section-4 .u-container-layout-1 {padding-left: 40px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-right: 40px} }

@media (max-width: 767px){ .u-section-4 .u-shape-1 {margin-bottom: 0; left: auto; bottom: auto; right: auto; top: auto}
.u-section-4 .u-text-1 {margin-left: 0}
.u-section-4 .u-layout-wrap-1 {width: 540px}
.u-section-4 .u-image-1 {min-height: 552px}
.u-section-4 .u-container-layout-1 {padding-left: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-shape-1 {width: 340px}
.u-section-4 .u-text-1 {font-size: 3rem}
.u-section-4 .u-layout-wrap-1 {width: 340px}
.u-section-4 .u-image-1 {min-height: 345px}
.u-section-4 .u-layout-cell-2 {min-height: 360px} }